* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', serif;
  font-size: 16;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

img {
  max-width: 100%;
}

.wrapper {
  background-color: #F5F7FA;
  width: 100%;
}

.container {
  width: 1440px;
  margin: 0 auto;
  /* padding: 28px 10px; */
}

header {
  padding: 30px 0;
}

header img {
  padding-left: 105px;
  position: relative;
  top: 5px;
}

header nav {
  float: right;
  width: 81%;
}

header nav ul {
  list-style: none;
  display: flex;
  padding-left: 166px;
  justify-content: space-between;
  align-items: center;
}

header nav ul span button {
  cursor: pointer;
  font-size: 14;
  width: 77px;
  height: 40px;
  background: none;
  border: none;
  color: #4CAF4F;
}

header nav ul span .button {
  width: 91px;
  height: 40px;
}

.button {
  width: 128px;
  height: 52px;
  background-color: #4CAF4F;
  border: solid #4CAF4F;
  border-radius: 6px;
  color: #FFFFFF;
}

.buttons {
  padding-left: 125px;
  padding-right: 120px;
}





/* .button {
  border: solid #4CAF4F;
  color: white;
  background-color: #4CAF4F;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

header img {
  position: relative;
  right: 30px;
}

header nav {
  float: right;
  width: 70%;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

header nav ul li {
  display: inline-block;
}

header nav ul li a {
  color: black;
}

header nav ul li span {
  margin-left: 60px;
  position: relative;
  bottom: 10px;
}

header nav ul li span button {
  margin-right: 20px;
  border: none;
  color: #4CAF4F;
  background-color: #F5F7FA;
  cursor: pointer;
}

.wrapper {
  background-color: #F5F7FA;
  width: 100%;
}

.hero-info {
  padding: 96px 0;
}

.hero-info h1 {
  font-size: 64px;
  width: 700px;
}

.hero .hero-info img {
  position: absolute;
  top: 200px;
  right: 100px;
}

.dots {
  position: relative;
  padding-top: 96px;
  left: 500px;
}

.hero .hero-info p {
  padding-top: 16px;
  padding-bottom: 32px;
} */